.app-container {
  max-width: 88vw;
  margin-right: auto;
  margin-left: auto;
}

.template-wrapper {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  min-height: 86.3vh;
  max-height: 100%;
}

.app-wrapper {
  display: flex;
  padding-top: 2rem;
}

.sidebar-wrapper {
  height: 100%;
}

.content-wrapper {
  margin-left: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .app-wrapper {
    display: block;
  }

  .template-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .app-wrapper {
    padding-top: 0rem;
    margin-top: 1rem;
  }

  .content-wrapper {
    margin-left: 0px !important;
    margin-bottom: 1.25rem !important;
  }
}
