@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --AppHeader: #010409;
  --body-font-size: 0.875rem;
  --body-font-color: #e6edf3;
  --body-icon-color: #8d96a0;
}

a {
  text-decoration: none;
  background-color: transparent;
}
